
.table {
    border-collapse: collapse; /* Une los bordes de las celdas */
    width: 100%; } 

/*Aquí estoy aplicando estilo a cada clase y sus pseudoclases*/

.No_Metales_Reactivos{
    background-color: #FD0811;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.No_Metales_Reactivos:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #FD0811;
     color: white; 
}
.No_Metales_Reactivos .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.No_Metales_Reactivos .number{
    font-size: 8px;
    text-align: left;
}
.No_Metales_Reactivos .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Gases_Nobles{
    background-color: #00A0C4;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Gases_Nobles:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #00A0C4;
     color: white; 
}
.Gases_Nobles .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Gases_Nobles .number{
    font-size: 8px;
    text-align: left;
}
.Gases_Nobles .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Metales_Alcalinos{
    background-color: #FFFF00;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Metales_Alcalinos:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #FFFF00;
     color: white; 
}
.Metales_Alcalinos .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Metales_Alcalinos .number{
    font-size: 8px;
    text-align: left;
}
.Metales_Alcalinos .name{
    font-size: 15px;
    text-align: center;
}

.Metales_Alcalinoterreos{
    background-color: #FF9000;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Metales_Alcalinoterreos:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #FF9000;
     color: white; 
}
.Metales_Alcalinoterreos .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Metales_Alcalinoterreos .number{
    font-size: 8px;
    text-align: left;
}
.Metales_Alcalinoterreos .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Metales_Postransicionales{
    background-color: #00B8E1;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Metales_Postransicionales:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #00B8E1;
     color: white; 
}
.Metales_Postransicionales .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Metales_Postransicionales .number{
    font-size: 8px;
    text-align: left;
}
.Metales_Postransicionales .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Metaloides{
    background-color: #006FD0;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Metaloides:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #006FD0;
     color: white; 
}
.Metaloides .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Metaloides .number{
    font-size: 8px;
    text-align: left;
}
.Metaloides .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Metales_Transicionales{
    background-color: #11C800;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Metales_Transicionales:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #11C800;
     color: white; 
}
.Metales_Transicionales .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Metales_Transicionales .number{
    font-size: 8px;
    text-align: left;
}
.Metales_Transicionales .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Actinoides{
    background-color: #C7007D;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Actinoides:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #C7007D;
     color: white; 
}
.Actinoides .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Actinoides .number{
    font-size: 8px;
    text-align: left;
}
.Actinoides .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Propiedades_Desconocidas{
    background-color: white;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Propiedades_Desconocidas:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: white;
     color: black; 
}
.Propiedades_Desconocidas .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Propiedades_Desconocidas .number{
    font-size: 8px;
    text-align: left;
}
.Propiedades_Desconocidas .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}

.Lantanidos{
    background-color: #6000A0;
    border: 1px solid black;
    padding: 4px;/* el espaciado*/
    width: 65px;
    height:65px;
}
.Lantanidos:hover {  
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #6000A0;
     color: white; 
}
.Lantanidos .symbol{
    font-size: 35;
    font-weight: bold ;
    text-align: center;
}
.Lantanidos .number{
    font-size: 8px;
    text-align: left;
}
.Lantanidos .name{
    font-size: 15px;
    font-weight: bold ;
    text-align: center;
}
h1{
    text-align: center;
}