.overlay{
    position: fixed;
    display: none;/*Oculto por defecto*/
    background-color: rgba(0,0,0,0.5);/*Fondo semi transparente*/
    /*para que el color del overlay ocupe toda la pantalla, osea se sobreponga ya que al añadir
     otros elementos no se sobrepone correctamente ya que hya que indicarle desde donde empezar, en este caso*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center; /*centrar tanto el eje x como el y con el justify y align*/
    align-items: center;
}
.overlay .modal{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,1);/*sombra*/
    padding: 13px;
    font-family: Tahoma;
    border-radius: 3px;
}
.overlay.visible{/*La clase visible para cambiar el tipo de display*/
    display: flex;
}
.correo_terminos_usuario{
    background-color: pink;
    border-radius: 20px;
    font-family: Tahoma;
    width: 280px;
    height: 250px;
    padding: 15px;

    position: fixed; /*Para alinearlo a la mitad de la página*/
    top: 30%;
    left: 40%;
}


